div(id=name)
  .chart-count
  .chart-sum

javascript:
  bb.generate({
    data: {
      x: "x",
      columns: [
  	   #{ (['x'] + counts.keys.map { |date| date.to_date }).to_json.html_safe },
  	   #{ (['Total'] + counts.values).to_json.html_safe },
  	   #{ (['Anstieg'] + sums.values).to_json.html_safe },
      ],
      axes: {
        Total: "y",
        Anstieg: "y2",
      },
      type: "line", // for ESM specify as: line()
      types: {
        Anstieg: "bar", // for ESM specify as: spline()
      },
    },
    axis: {
      x: {
        type: "timeseries",
        tick: {
          format: "%d.%m.%Y"
        }
      },
      y2: {
        show: true
      }
    },
    bindto: "##{name} .chart-count"
  });
