ruby:
  charges = Charge.tbnrs_with_description
  favorites = charges.select { |tbnr, _charge| current_user.favorite_tbnrs.include?(tbnr) }
  charge_options = [
    {text: "Favoriten", children: favorites.map {|tbnr, description| {id: tbnr, text: signify(description, link: false) + " [#{tbnr}]"} }},
    {text: "BKAT", children: charges.map { |tbnr, description| {id: tbnr, text: signify(description, link: false) + " [#{tbnr}]"} }},
  ]
javascript:
  $('select#notice_tbnr').select2({
    theme: 'bootstrap',
    allowClear: true,
    selectOnClose: true,
    templateResult: function(data) {
      return $('<span>' + data.text + '</span>');
    },
    templateSelection: function(data) {
      return $('<span>' + data.text + '</span>');
    },
    data: #{raw(charge_options.to_json.html_safe)},
  });
