small.help-text.safari-only
  |
    Safari auf iOS
    #{link_to('entfernt leider die Metadaten', 'https://apple.stackexchange.com/questions/326789/gps-exif-from-iphone-photo-upload-in-safari', target: '_blank')},
    die für eine automatische Standort-Ermittlung benötigt werden. Deshalb empfehlen wir
    #{link_to('einen', 'https://apps.apple.com/de/app/internet-browser-firefox/id989804926', target: '_blank')}
    #{link_to('anderen', 'https://apps.apple.com/de/app/duckduckgo-privacy-browser/id663592361', target: '_blank')}
    #{link_to('Browser', 'https://apps.apple.com/de/app/google-chrome/id535886823', target: '_blank')}
    beim Hochladen zu benutzen.
