= image_tag(url_for_photo(@photo, size: :default), class: 'item-photo')
strong gcloud key
= debug @photo.key
strong plates
= debug Annotator.grep_text(@result) { |string| Vehicle.plate?(string) }
strong result
= debug @result
strong metadata
= debug @photo.metadata
