- set_title t('navigation.blueprints')

.panel.panel-default
  .panel-heading
    .dropdown
      = render('blueprint_actions', blueprint: @blueprint, button_text: true)
  .panel-body
    dl.dl-horizontal.well
      dt Name
      dd= @blueprint.name
      dt Dauer
      dd= @blueprint.duration || '-'
      dt Verstoß
      - if @blueprint.charge
        dd= link_to @blueprint.charge.description, charge_path(@blueprint.charge)
      dt Details
      - Blueprint.details.each do |flag|
        - if @blueprint.send(flag)
          dd= t(flag, scope: "activerecord.attributes.blueprint.flags")
      dt Hinweis
      dd= @blueprint.note || '-'
    .small.text-muted Erstellt am #{l(@blueprint.created_at, format: :short)}, zuletzt aktualisiert am #{l(@blueprint.updated_at, format: :short)}
