.well.well-sm.callout-primary Bei Fragen oder Anregungen schreibe bitte eine #{mail_to 'support@weg.li', 'E-Mail'} oder sende eine Nachricht an #{link_to 'wegli.bsky.social', 'https://bsky.app/profile/weg.li'} auf Bluesky.
