.well.well-sm.callout-primary Bei Fragen oder Anregungen schreibe bitte eine #{mail_to 'peter@weg.li', 'E-Mail'} oder sende eine Nachricht an #{link_to '@weg_li', 'https://twitter.com/weg_li'} auf Twitter.
