.row
  .col-lg-12
    h3 🌟 Funktionsumfang:

    ul.list-group
      li.list-group-item
        span.badge Karte
        | ⭐️ Die räumliche Verteilung und einige Statistiken zum ausgewählten Bezirk findest Du auf der #{link_to 'Karte', map_path}.
      li.list-group-item
        span.badge Statistik
        | ⭐️ Die tagesaktuellen Zahlen zu Benutzern, Anzeigen und Beweisfotos findest Du in der #{link_to 'Statistik', stats_path}.
      li.list-group-item
        span.badge Leaderboard
        | ⭐️ Die Poweruser und ihre Erfolge findest Du in auf dem #{link_to 'Leaderboard', leaderboard_path}.
      li.list-group-item
        span.badge Bezirke
        | ⭐️ Die von der weg-li Community recherchierten Meldeadressen findest Du in den #{link_to 'Bezirken', districts_path}.
      li.list-group-item
        span.badge Tatbestandskatalog
        | ⭐️ Die Parkvergehen aus dem aktuell Bußgeldkatalog findest Du in den #{link_to 'Tatbeständen', districts_path}.
      li.list-group-item
        span.badge Exporte
        | ⭐️ Die gemeldeten Parkvergehen findest Du als anonymisierte Archive pro Kalenderwoche in den #{link_to 'Exporten', exports_path}.
