.row
  .col-lg-12
    h3 🤩 Aktuelle Tipps:

    ul.list-group
      li.list-group-item
        span.badge Tool
        | 🦋 Unsere Social-Media-Präsenz haben wir zu #{link_to 'Bluesky', 'https://bsky.app/profile/weg-li.bsky.social', target: '_blank'} umgezogen!
      li.list-group-item
        span.badge Tool
        | 👮‍♂️ Die DeutscheUmwelthilfe hat in einem Grundsatzurteil #{link_to 'die Rechtmäßigkeit der Meldung von Parkverstößen mit Beweisfoto', 'https://www.duh.de/presse/pressemitteilungen/pressemitteilung/deutsche-umwelthilfe-begruesst-urteilsbegruendung-des-verwaltungsgerichts-ansbach-fotografische-meldun/', target: '_blank'} festgestellt!
      li.list-group-item
        span.badge Tool
        | 👀 Der FUSS e.V. hat eine #{link_to 'Broschüre zum Parken auf Gehwegen', 'https://www.fuss-ev.de/images/Downloads/gehwegparken.pdf', target: '_blank'} erstellt, in der auch Tips zum Anzeigen mit Vorsatz gegeben werden!
      li.list-group-item
        span.badge Tool
        | 📱 Benutzer von iOS können #{link_to 'mit diesem Shortcut', 'https://www.icloud.com/shortcuts/0e30a6797fdd423b8812f00c362a1ac6', target: '_blank'} HEIF/HEIC in JPEG umwandeln!
      li.list-group-item
        span.badge Tool
        | 📹 #{link_to '@SirTificate', 'https://twitter.com/sirtificate', target: '_blank'} hilft dabei Screenshots mit GPS von GoPro Videos zu machen mit dem #{link_to 'Radratten - Screenshot Tool', 'https://screenshot.radratten.de/', target: '_blank'}.
      li.list-group-item
        span.badge Video
        | 👀 Der weGErecht e.V. hat ein interessantes Seminar veröffentlicht: #{link_to 'Methoden der Gehweg-Befreiung: Erfahrungen aus Darmstadt', 'https://wegerecht.org/seminar/', target: '_blank'}.
      li.list-group-item
        span.badge Tool
        | 📍 Basierend auf den Daten von weg.li und Wegeheld entstand diese #{link_to 'Falschparker-Karte', 'http://wege-frei.heikozelt.de/', target: '_blank'}.
      li.list-group-item
        span.badge Portal
        | 👍 Diese und viele weitere tolle Projekte rund um das Thema Radfahren findet ihr bei #{link_to 'Awesome Bikeprojects', 'https://github.com/mltbnz/awesome-bikeprojects', target: '_blank'}.
