.row
  .col-lg-12
    h3 🤩 Aktuelle Tipps:

    ul.list-group
      li.list-group-item
        span.badge Tool
        | 📱 Benutzer von iOS können #{link_to 'mit diesem Shortcut', 'https://www.icloud.com/shortcuts/0e30a6797fdd423b8812f00c362a1ac6', target: '_blank'} HEIF/HEIC in JPEG umwandeln!
      li.list-group-item
        span.badge Tool
        | 📹 #{link_to '@SirTificate', 'https://twitter.com/sirtificate', target: '_blank'} hilft dabei Screenshots mit GPS von GoPro Videos zu machen mit dem #{link_to 'Radratten - Screenshot Tool', 'https://screenshot.radratten.de/', target: '_blank'}.
      li.list-group-item
        span.badge Video
        | 👀 Der weGErecht e.V. hat ein interessantes Seminar veröffentlicht: #{link_to 'Methoden der Gehweg-Befreiung: Erfahrungen aus Darmstadt', 'https://wegerecht.org/seminar/', target: '_blank'}.
      li.list-group-item
        span.badge Tool
        | 📍 Basierend auf den Daten von weg.li und Wegeheld entstand diese #{link_to 'Falschparker-Karte', 'http://wege-frei.heikozelt.de/', target: '_blank'}.
      li.list-group-item
        span.badge Tool
        | 😤 Sicherheit im Radverkehr! Sammelt Forschungsdaten zu gefährlichen Situationen im Straßenverkehr per App bei #{link_to 'SimRa', 'https://www.digital-future.berlin/forschung/projekte/simra/', target: '_blank'}.
      li.list-group-item
        span.badge Portal
        | 🚴‍♀️ Wie wird Berlin zur Fahrradstadt? Helft beim Umbau Berlins zur Fahrradstadt bei #{link_to 'FixMyBerlin', 'https://fixmyberlin.de/', target: '_blank'}.
      li.list-group-item
        span.badge Portal
        | 👍 Diese und viele weitere tolle Projekte rund um das Thema Radfahren findet ihr bei #{link_to 'Awesome Bikeprojects', 'https://github.com/mltbnz/awesome-bikeprojects', target: '_blank'}.
