.row
  .col-lg-2.text-center
    = image_tag 'phoet.jpg', class: "img-circle me-quote"
  .col-lg-10
    blockquote
      p Es gibt viele tolle Projekte rund um die Themen Verkehr und Mobilität, hier ein paar interessante Tipps:
      small Peter aus Hamburg, 👨‍👦 besorgter Vater, 🚶‍♂️ Fußgänger, 🛴 E-Scooterer, 🚲 Radler und 🚐 Autofahrer
