.row
  .col-lg-4
    h3 📈 Top Orte
    ul.list-group
      - statistics[:grouped_cities].each do |entry|
        li.list-group-item
          .badge.pull-right= number_with_delimiter(entry.city_count)
          = link_to entry.city, map_path(district: entry.city)

  .col-lg-4
    h3 📈 Top Bundesländer
    ul.list-group
      - statistics[:grouped_states].each do |entry|
        li.list-group-item
          .badge.pull-right= number_with_delimiter(entry.state_count)
          = link_to entry.state, districts_path(state: entry.state)

  .col-lg-4
    h3 📈 Top Postleitzahlen
    ul.list-group
      - statistics[:grouped_zips].each do |entry|
        li.list-group-item
          .badge.pull-right= number_with_delimiter(entry.zip_count)
          = link_to entry.zip, district_path(entry.zip)

.spacer-large

.row
  .col-lg-8
    h3 📈 Top Vergehen
    ul.list-group
      - statistics[:grouped_charges].each do |entry|
        li.list-group-item
          .badge.pull-right= number_with_delimiter(entry.tbnr_count)
          = link_to to_charge(entry.tbnr), charge_path(entry.tbnr)

  .col-lg-4
    h3 📈 Top Automarken
    ul.list-group
      - statistics[:grouped_brands].each do |entry|
        li.list-group-item
          = render('components/vehicle_count', count: statistics[:count], brand_count: entry.brand_count, brand: entry.brand)
