.alert.alert-success
  dl.dl-horizontal
    dt 1. Januar 2024
    dd weg.li wünscht allen Falschparker-Meldern einen fröhlichen und gesunden Start in das neue Jahr 🎇
    dt 6. Januar 2024
    dd die #{link_to 'Fahrzeugmarken', brands_path} können nun, ebenso wie bereits Bezirke, von der Community gepflegt werden 🚗
