.alert.alert-success
  dl.dl-horizontal
    dt 1. Januar 2020
    dd weg.li erreicht durchweg mehr als 500 Meldungen und erhöht das Wochenziel auf <strong>1.000 Anzeigen</strong> 💪
    dt 22. Januar 2020
    dd weg.li hilft auch offline, Anzeigen kann man nun <a href="https://twitter.com/weg_li/status/1219640084980535296" target="_blank">als PDF Herunterladen</a> 📃
    dt 1. Februar 2020
    dd wer möchte, der kann weg.li auch als #{link_to 'Github Sponsor', 'https://github.com/sponsors/phoet/'} unterstützen 💖
    dt 14. Februar 2020
    dd das weg.li #{link_to 'Leaderboard', leaderboard_path} geht live 🚀
    dt 17. Februar 2020
    dd Beweisfotos können per Google-Photos importiert werden 🌆
    dt 24. Februar 2020
    dd weg.li erreicht durchweg mehr als 1.000 Meldungen und erhöht das Wochenziel auf <strong>2.000 Anzeigen</strong> ✊
    dt 29. Februar 2020
    dd Häufig genutzte Hinweise können als Vorlagen hinterlegt werden 📝
