.alert.alert-success
  dl.dl-horizontal
    dt 1. Januar 2023
    dd weg.li wünscht allen Falschparker-Meldern einen fröhlichen und gesunden Start in das neue Jahr 🎇
    dt 6. März 2023
    dd das Wochenziel wird auf 6.000 Anzeigen angehoben 😎
    dt 20. März 2023
    dd alle Tatbestände des bundeseinheitlichen Bußgeldkatalogs können zur Anzeige von Falschparkern verwendet werden 💯
