.alert.alert-success
  dl.dl-horizontal
    dt 1. Januar 2024
    dd weg.li wünscht allen Falschparker-Meldern einen fröhlichen und gesunden Start in das neue Jahr 🎇
    dt 6. Januar 2024
    dd die #{link_to 'Fahrzeugmarken', brands_path} können nun, ebenso wie bereits Bezirke, von der Community gepflegt werden 🚗
    dt 26. Februar 2024
    dd der Anzeigenhauptmeister geht viral durch #{link_to 'einen Beitrag von Spiegel-Panorama', 'https://www.spiegel.de/panorama/gesellschaft/kein-pardon-fuer-parksuender-ich-bin-der-anzeigenhauptmeister-spiegel-tv-a-cae5d191-afe5-4284-95ec-6772fb7bb4a1'} 🦠

