.alert.alert-success
  dl.dl-horizontal
    dt 1. Januar 2022
    dd weg.li wünscht allen Falschparker-Meldern einen fröhlichen und gesunden Start in das neue Jahr 🎇
    dt 13. April 2022
    dd die #{link_to 'weg.li iOS App', 'https://github.com/weg-li/weg-li-ios/', target: :blank} steht erstmals per TestFlight bereit 📱
    dt 5. Mai 2022
    dd weg.li erreicht erstmals über 5.000 Anzeigen pro Woche 🚀
    dt 17. November 2022
    dd weg.li unterstützt inzwischen knapp 4.000 Bezirke 🌇
