.page-header
  h1 weg-li FAQ

p.text-primary If you have any issues or feedback, please send us an #{mail_to 'peter@weg-li.de', 'e-mail'} or shoot us a #{link_to 'tweet to @weg-li', 'https://twitter.com/weg-li'}.

= render 'faq'
