.page-header
  h1 weg-li FAQ

p.text-primary Bei Fragen oder Anregungen, schreibe bitte eine #{mail_to 'peter@weg-li.de', 'E-Mail'} oder sende eine Nachricht an #{link_to '@weg-li', 'https://twitter.com/weg_li'} auf Twitter.

= render 'faq'
