.spacer
.row
  .col-lg-5
    .page-header
      h1= link_to 'weg-li 🚲💨', root_url, class: 'text-warning', title: t('title')
    .spacer-large
    p.lead
      = link_to root_url, title: t('slogan') do
        span.caps>= t('slogan_1')
        em.text-warning= t('slogan_2')
  .col-lg-7
    .well
      h2.spacer.text-center
        == t('home.register_now')
        .visible-xs== t('home.register_now_xs')
      .spacer.text-center
        .btn-group
          button.btn.btn-lg.btn-success.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            == t('home.register_with_oauth')
          ul.dropdown-menu.dropdown-menu-right
            li.dropdown-header= t('home.select_oauth_provider')
            - login_links do |name, path, key|
              li= link_to name, path

hr.spacer-large

.row
  .col-lg-2.text-center
    = image_tag 'phoet.jpg', class: "img-circle me-quote"
  .col-lg-10
    blockquote
      p Verkehrswende selber machen, durch sichere Radwege und freie Bürgersteige, besonders für Kinder!
      small #{link_to('Peter Schröder', 'https://twitter.com/phoet', target: '_blank')}, 👨‍👦 besorgter Vater, 🚶‍♂️ Fußgänger, 🛴 E-Scooterer, 🚲 Radler und 🚐 Autofahrer

hr.spacer-large

.well.well-sm
  p Du kennst das bistimmt auch...
  p
    em> "Bin nur grad beim Kiosk",
    em> "Muss nur eben das Paket ausliefern",
    em> "War sonst kein Parkplatz frei",
    em> "Da hab ich schon immer geparkt",
    em> "Aber ich wohne doch hier"

  p Mit weg-li kannst Du super einfach Falschparker melden:
  p  📸 Beweisfoto erfassen, 📝 Verstoß beschreiben, ✊ Ordnugnsamt bzw Polizei melden 👏

= render 'notices/three_step'

hr.spacer-large

.row
  .col-lg-6
    h3 🥇 Aktuelle Ziele:

    ul.list-group
      li.list-group-item
        - goal = 100
        - statistics = Notice.statistics(Time.zone.today.beginning_of_week)
        - current = statistics[:shared]
        strong> Wochenziel:
        span #{current} von #{goal} Anzeigen erstattet
        .progress.progress-striped.active
          .progress-bar.progress-bar-danger(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        - goal = 400
        - statistics = Notice.statistics(Time.zone.today.beginning_of_month)
        - current = statistics[:shared]
        strong> Monatsziel:
        span #{current} von #{goal} Anzeigen erstattet
        .progress.progress-striped.active
          .progress-bar.progress-bar-warning(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        strong> Jahresziel:
        span Keine Radwegparker mehr!
        .progress.progress-striped.active
          #total-progress.progress-bar.progress-bar-success(style="width: 5%")
          javascript:
            setInterval(function(element) { element.style.width = Math.min(100, (parseInt(element.style.width) + 2)) + '%' }, 1000, document.getElementById('total-progress'));

  .col-lg-6
    h3 📈 Bisherige Daten:
    ul.list-group
      - statistics = Notice.statistics
      - statistics.each do |key, value|
        li.list-group-item
          = t(key, scope: 'users.statistics')
          .badge.pull-right= value
