.spacer
.row
  .col-lg-5
    .page-header
      h1= link_to 'weg-li 🚲💨', root_url, class: 'text-warning', title: t('title')
    .spacer-large
    p.lead
      = link_to root_url, title: t('slogan') do
        span.caps>= t('slogan_1')
        em.text-warning= t('slogan_2')
  .col-lg-7
    .well
      - if signed_in?
        .text-center
          h2 📸 📝 ✊ weg-li jetzt ausprobieren:

          .spacer-large

          .btn-group.btn-group-lg.btn-group-justified.spacer-large
            = link_to(notices_path, class: 'btn btn-success') do
              span.glyphicon.glyphicon-th-list>
              span.hidden-xs Ansehen
            = link_to(new_notice_path, class: 'btn btn-success') do
              span.glyphicon.glyphicon-plus>
              span.hidden-xs Melden
            = link_to(new_bulk_upload_path, class: 'btn btn-success') do
              span.glyphicon.glyphicon-cloud-upload>
              span.hidden-xs Hochladen
      - else
        h2.text-center Jetzt anmelden und ausprobieren!
        .spacer-large
        .spacer.text-center
          .btn-group
            button.btn.btn-lg.btn-success.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              == t('home.register_with_oauth')

            ul.dropdown-menu.dropdown-menu-right
              li.dropdown-header= t('home.select_oauth_provider')
              - login_links do |name, path, key|
                li= link_to(name, path, method: :post, data: { turbolinks: false })

.spacer-large

- if signed_in?
  .page-header
    h2 Was gibt es neues bei weg-li?

  .row
    .col-lg-2.text-center
      = image_tag 'phoet.jpg', class: "img-circle me-quote"
    .col-lg-10
      blockquote
        p Es gibt viele tolle Projekte rund um die Themen Verkehr und Mobilität, hier ein paar interessante Tipps:
        small Peter aus Hamburg, 👨‍👦 besorgter Vater, 🚶‍♂️ Fußgänger, 🛴 E-Scooterer, 🚲 Radler und 🚐 Autofahrer

  .spacer-large

  .row
    .col-lg-12
      h3 🤩 Aktuelle Tipps:

      ul.list-group
        li.list-group-item
          span.badge Berlin
          | 😤 Sicherheit im Radverkehr! Sammelt Forschungsdaten zu gefährlichen Situationen im Straßenverkehr per App bei #{link_to 'SimRa', 'https://www.digital-future.berlin/forschung/projekte/simra/'}.
        li.list-group-item
          span.badge Berlin
          | 🚴‍♀️ Wie wird Berlin zur Fahrradstadt? Helft beim Umbau Berlins zur Fahrradstadt bei #{link_to 'FixMyBerlin', 'https://fixmyberlin.de/'}.
        li.list-group-item
          span.badge Überall
          | 👍 Diese und viele weitere tolle Projekte rund um das Thema Radfahren findet ihr bei #{link_to 'Awesome Bikeprojects', 'https://github.com/mltbnz/awesome-bikeprojects'}.

  .spacer-large

  .row
    .col-lg-12
      h3 🌟 Neue Funktionen:

      ul.list-group
        li.list-group-item
          span.badge neu
          | 📝 Mit Hilfe von #{link_to 'Vorlagen', snippets_path} kannst Du häufig genutzte Texte für Hinweise hinterlegen.
        li.list-group-item
          span.badge neu
          | 💖 Als Sponsor kannst Du jetzt weg-li direkt mit #{link_to 'einer monatlichen Spende', 'https://github.com/sponsors/phoet/'} unterstützen!
        li.list-group-item
          span.badge neu
          | 🌇 Als Benutzer von Google-Photos kannst Du nun Beweisfotos direkt über ein geteiltes Album in einen #{link_to 'Massen-Upload', new_bulk_upload_path} importieren.
        li.list-group-item
          span.badge neu
          | 🎁 Unerfahrenen Benutzern kannst Du als alter weg-li Haase jetzt direkt Helfen und eine Meldung für sie vorbereiten und dann an ihren Account übertragen.
        li.list-group-item
          span.badge neu
          | 🏅 Schau Dir auf #{link_to 'dem Leaderboard', leaderboard_path} an, was die Power-User so wegschaffen.
        li.list-group-item
          span.badge neu
          | 📃 Dein Ordnungsamt verweigert die Annahme von Anzeigen per E-Mail? Einfach Meldungen in der Übersicht als PDF herunterladen und Anzeige erstatten.
        li.list-group-item
          span.badge neu
          | ✍️ Für die generierten PDFs kannst Du #{link_to 'in Deinem Profil', edit_user_path} eine Unterschrift hinterlegen.

- else
  .page-header
    h2 Was macht weg-li?
  .well.well-sm
    p
      strong Diese Reaktionen von Falschparkern kennst Du bestimmt auch:
    p
      em> "Bin nur grad beim Bäcker",
      em> "Muss nur eben das Paket ausliefern",
      em> "War sonst kein Parkplatz frei",
      em> "Da hab ich schon immer geparkt",
      em> "Aber ich wohne doch hier"

    .spacer
    p
      strong Mit der Webseite weg-li kannst Du supereinfach Falschparker anzeigen:
    p  📸 Beweisfoto mit dem Handy erfassen 📝 Hochladen & Verstoß beschreiben ✊ per E-Mail beim Ordnungsamt melden 👏😍💪

  .spacer-large

  .page-header
    h2 Warum gibt es weg-li?
  .row
    .col-lg-2.text-center
      = image_tag 'phoet.jpg', class: "img-circle me-quote"
    .col-lg-10
      blockquote
        p Verkehrswende selber machen durch sichere Radwege und freie Bürgersteige, besonders für Kinder!
        small Peter aus Hamburg, 👨‍👦 besorgter Vater, 🚶‍♂️ Fußgänger, 🛴 E-Scooterer, 🚲 Radler und 🚐 Autofahrer

  hr.spacer-large

  .row
    .col-lg-10
      blockquote.pull-right
        p Berlin duldet Falschparker, Diskutieren bringt garnix. Sogar vor meiner Haustür muss ich auf die Straße ausweichen!
        small ♿️ Rollstuhlfahrerin, 🏎 Formel-1 Fan und 😴 Langschläfer, Anonym aus Berlin
    .col-lg-2.text-center
      = image_tag 'unicorn.jpg', class: "img-circle me-quote"

  hr.spacer-large

  .page-header
    h2 Wie funktioniert weg-li?
  = render 'notices/three_step'
  .well.well-sm
    = render 'home/carousel'

.spacer-large

.page-header
  h2 Was schafft weg-li?
.row
  .col-lg-6
    h3 🥇 Aktuelle Ziele:

    - weekly_goal = 2000
    ul.list-group
      li.list-group-item
        - goal = weekly_goal
        - current = @goals[:week]
        p
          strong> Wochenziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / (Date.today.wday == 0 ? 7 : Date.today.wday))} vs. #{number_with_delimiter(goal / 7)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-danger(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        - goal = weekly_goal * 4
        - current = @goals[:month]
        p
          strong> Monatsziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / Date.today.day)} vs. #{number_with_delimiter(goal / Date.today.end_of_month.day)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-warning(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        - goal = weekly_goal * 52
        - current = @goals[:year]
        p
          strong> Jahresziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / Date.today.yday)} vs. #{number_with_delimiter(goal / Date.today.end_of_year.yday)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-info(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        p
          strong> Ziellinie:
          span Sichere Radwege und freie Bürgersteige!
        .progress
          #total-progress.progress-bar.progress-bar-nyan(style="width: 2%")
          javascript:
            setInterval(
              function(element) {
                var val = parseInt(element.style.width);
                if (val >= 100) {
                  element.style.width = '2%';
                } else {
                  element.style.width = Math.min(100, (val + 2)) + '%';
                }
              },
              1200,
              document.getElementById('total-progress')
            );

  .col-lg-6
    h3 📈 Bisherige Daten:
    ul.list-group
      - @statistics.each do |key, value|
        li.list-group-item
          = t(key, scope: 'users.statistics')
          .badge.pull-right= number_with_delimiter(value)
