.spacer

.row
  .col-lg-5
    .page-header
      h1= link_to 'weg.li 🚲💨', root_url, title: t('title')
    .spacer-large
    p.lead
      = link_to root_url, title: t('slogan') do
        span.caps>= t('slogan_1')
        em= t('slogan_2')
  .col-lg-7
    .well
      - if signed_in?
        .text-center
          h2 📸 📝 ✊ weg.li jetzt ausprobieren:

          .spacer-large

          .btn-group.btn-group-lg.btn-group-justified.spacer-large
            = link_to(notices_path, class: 'btn btn-default') do
              span.glyphicon.glyphicon-th-list>
              span.hidden-xs Ansehen
            = link_to(new_notice_path, class: 'btn btn-default') do
              span.glyphicon.glyphicon-plus>
              span.hidden-xs Melden
            = link_to(new_bulk_upload_path, class: 'btn btn-default') do
              span.glyphicon.glyphicon-cloud-upload>
              span.hidden-xs Hochladen
      - else
        = render('components/register')

.spacer-large

- if signed_in?
  .well
    .row
      .col-lg-4.text-center
        = link_to(donate_path, class: 'btn btn-success btn-lg btn-block')
          <span class="glyphicon glyphicon-piggy-bank"></span> Spenden per Überweisung
        small Überweise einmalige Spenden oder lege einen Dauerauftrag fest.

      .col-lg-4.text-center
        = link_to('https://github.com/sponsors/phoet/', target: '_blank', class: 'btn btn-success btn-lg btn-block')
          <span class="glyphicon glyphicon-piggy-bank"></span> Sponsoring per GitHub
        small Lege monatliche Beiträge festlegen, GitHub gibt was obendrauf!

      .col-lg-4.text-center
        = link_to('https://opencollective.com/weg-li', target: '_blank', class: 'btn btn-success btn-lg btn-block')
          <span class="glyphicon glyphicon-piggy-bank"></span> Spenden per OpenCollective
        small Mache einmalige Spenden oder lege monatliche Beiträge fest.

  .page-header
    h2 Was gibt es Neues bei weg.li?

  = render('new_features')

  .spacer-large

  = render('tips_teaser')

  .spacer-large

  = render('tips')

- else
  .page-header
    h2 Was macht weg.li?
  .well.well-sm
    p
      strong Diese Reaktionen von Falschparkern kennst Du bestimmt auch:
    p
      em> "Bin nur grad beim Bäcker",
      em> "Muss nur eben das Paket ausliefern",
      em> "War sonst kein Parkplatz frei",
      em> "Da hab ich schon immer geparkt",
      em> "Aber ich wohne doch hier"

    .spacer
    p
      strong Mit der Webseite weg.li kannst Du supereinfach Falschparker anzeigen:
    p  📸 Beweisfoto mit dem Handy erfassen 📝 Hochladen & Verstoß beschreiben ✊ per E-Mail beim Ordnungsamt melden 👏😍💪

  .spacer-large

  .page-header
    h2 Warum gibt es weg.li?
  .row
    .col-lg-2.text-center
      = image_tag 'phoet.jpg', class: "img-circle me-quote"
    .col-lg-10
      blockquote
        p Verkehrswende selber machen durch sichere Radwege und freie Bürgersteige, besonders für Kinder!
        small Peter aus Hamburg, 👨‍👦 besorgter Vater, 🚶‍♂️ Fußgänger, 🛴 E-Scooterer, 🚲 Radler und 🚐 Autofahrer

  hr.spacer-large

  .row
    .col-lg-10
      blockquote.pull-right
        p Berlin duldet Falschparker, Diskutieren bringt garnix. Sogar vor meiner Haustür muss ich auf die Straße ausweichen!
        small ♿️ Rollstuhlfahrerin, 🏎 Formel-1 Fan und 😴 Langschläfer, Anonym aus Berlin
    .col-lg-2.text-center
      = image_tag 'unicorn.jpg', class: "img-circle me-quote"

  hr.spacer-large

  .page-header
    h2 Wie funktioniert weg.li?

  = render 'notices/three_step'

  .well.well-sm
    = render 'components/carousel'

.spacer-large

.page-header
  h2 Was schafft weg.li?
.row
  .col-lg-6
    h3 🥇 Aktuelle Ziele:

    - weekly_goal = 5000
    ul.list-group
      li.list-group-item
        - goal = weekly_goal
        - current = @goals[:week]
        p
          strong> Wochenziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / (Date.today.wday == 0 ? 7 : Date.today.wday))} vs. #{number_with_delimiter(goal / 7)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-danger(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        - goal = weekly_goal * 4
        - current = @goals[:month]
        p
          strong> Monatsziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / Date.today.day)} vs. #{number_with_delimiter(goal / Date.today.end_of_month.day)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-warning(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        - goal = weekly_goal * 52
        - current = @goals[:year]
        p
          strong> Jahresziel:
          span #{number_with_delimiter(current)} von #{number_with_delimiter(goal)} Anzeigen (#{number_with_delimiter(current / Date.today.yday)} vs. #{number_with_delimiter(goal / Date.today.end_of_year.yday)} pro Tag)
        .progress.progress-striped.active
          .progress-bar.progress-bar-success(style="width: #{[100, current / (goal / 100)].min}%")

      li.list-group-item
        p
          strong> Ziellinie:
          span Sichere Radwege und freie Bürgersteige!
        .progress
          #total-progress.progress-bar.progress-bar-nyan(style="width: 2%")
          javascript:
            setInterval(
              function(element) {
                var val = parseInt(element.style.width);
                if (val >= 100) {
                  element.style.width = '2%';
                } else {
                  element.style.width = Math.min(100, (val + 2)) + '%';
                }
              },
              1200,
              document.getElementById('total-progress')
            );

  .col-lg-6
    h3 📈 Bisherige Daten:
    ul.list-group
      - @statistics.each do |key, value|
        li.list-group-item
          .badge.pull-right= number_with_delimiter(value)
          = t(key, scope: 'notices.statistics')
