.row
  .col-lg-3
    = image_tag('logo.png', class: "img-circle imprint-logo", alt: "weg-li logo")
    = image_tag('wegeheld.png', class: "img-circle imprint-logo", alt: "weg-li logo", style: "margin-left: -40px")
  .col-lg-9
    h1 weg-li + Wegeheld = 💙
    h3 Gemeinsam gegen Falschparker


.spacer-large

.well
  p Die Wegeheld Idee gibt es seit dem Jahr 2013 und zusammen haben wir seitdem viele Erfolge feiern können. Mit Sicherheit konnten wir unseren Beitrag zur breiten Unterstützung der StVO-Novelle leisten, die vor Kurzem im Bundestag verabschiedet wurde (und hoffentlich auch in naher Zukunft wirklich in Kraft tritt).
  p Die Wegeheld Apps für iOS und Android haben Fußgängern und Fahrradfahrern ein Werkzeug gegeben, um sich gegen das gesellschaftlich akzeptierte Falschparken zur Wehr zu setzen.
  p Inzwischen hat durch den Druck der vielen Verkehrsinitiativen wie z.B. <strong>#rollestattknolle</strong> und dem Wirken von Institutionen wie dem ADFC ein allgemeines Umdenken eingesetzt. Letztendlich hat auch der Gesetzgeber erkannt, dass es notwendig ist, die Strafen für das Falschparken zu verschärfen. <strong>#knollestattknöllchen</strong>
  p Neben der Wegeheld App sind inzwischen weitere Möglichkeiten entstanden, um Parkvergehen im Internet anzuzeigen. Auch viele Ordnungsämter bieten inzwischen Formulare im Internet dafür an. Zur deutschlandweiten Anzeige von Falschparkern gibt es seit August 2019 zudem unsere Webseite weg-li.de, die es noch einfacher macht, für sichere Radwege und freie Bürgersteige zu sorgen.
  p Viele Ideen von weg-li.de sind aus den Erfahrungen mit dem Umgang der Wegeheld-App entstanden und das Ziel von weg-li.de ist es, die Anzeige von Parkvergehen so einfach wie möglich zu gestalten. Das Wegeheld-Team ist begeistert von der einfachen Benutzbarkeit von weg-li.de. Genau so hatte sich das Team die Wegeheld-App immer gewünscht!
  p Anfang 2020 haben wir uns entschieden die Erfahrungen und die Reichweite von Wegeheld mit den Möglichkeiten von weg-li.de zu verbinden und unsere Kooperation offiziell bekannt geben:
  p Gemeinsam gegen Falschparker: <strong>weg-li + Wegeheld = 💙</strong>
  p Wir haben Wegeheld und weg-li.de verschmolzen und werden die Entwicklung bei weg-li weiterführen, um gemeinsam dafür zu kämpfen, unsere Innenstädte sicherer zu machen und uns den Raum vom Auto wieder zurückzuholen!
