.page-header
  h2.text-primary Spenden für weg-li

.spacer

.well.well-sm.callout-primary
  |
    Da weg-li nicht als gemeinnützig anerkannt ist, können wir keine steuerlich absetzbaren Spendenquittungen ausstellen!

.spacer-large

.row
  .col-lg-2.text-center
    = image_tag 'phoet.jpg', class: "img-circle me-quote"
  .col-lg-10
    blockquote
      p Mit Deiner Spende unterstützt Du uns dabei weg-li überhaupt möglich zu machen - vielen Dank 🥰
      small= "weg-li 🚲💨 #{t('slogan_1')} #{t('slogan_2')}"

.spacer-large


.well.well-lg
  p
    |
      Vielen Dank für Dein Interesse an weg-li 😻 Wir freuen uns sehr darüber, dass wir alle gemeinsam einen Beitrag dazu leisten können,
      die Bürgersteige frei und die Radwege sicher zu machen 💪 In Kürze haben die weg-li Nutzer 25.000 Anzeigen an Ordnungsämter verschickt,
      von solchen Zahlen hätten wir vor ein paar Monaten nicht zu träumen gewagt 🚀
  p
    |
      Dieser Erfolg bringt allerdings auch einige andere Dinge mit sich, denn natürlich steigen mit höherer Nutzung auch die Kosten für den Betrieb der Plattform,
      der Support-Aufwand und der Wunsch nach neuen Features benötigt viele Entwicklungsresourcen. Ohne die Hilfe von Freiwilligen und den Einsatz von Freizeit
      würde so ein Projekt schnell einen 6-Stelligen Kostenrahmen annehmen 💸
  p
    |
      Die Betriebskosten sind am einfachsten zu beziffern. Derzeit belaufen sie sich monatlich auf ca. 250 EUR:<br>
      ~ 100 EUR render.com (Web, Worker Postgres, Redis, Cronjobs)<br>
      ~ 100 EUR GCloud (Storage, Vision-API, Geolocation)<br>
      ~ 2 EUR Domain- and DNS-management (Cloudflare, Domainfactory)<br>
  p
    |
      Wir brauchen eure Hilfe! Ob Geld-Spenden, die Recherche von Melde-Adressen der Ordnungsämter, Mund-zu-Mund-Propaganda via Twitter - egal, wir freuen uns über jede Art der Unterstützung 🥳

.spacer-large

= render('donate_buttons')
