=begin
#weg-li Recommender API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1

=end

require 'cgi'

module OpenapiClient
  class AnalyzeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ViolationSuggestion>]
    def analyze_data_post(inline_object, opts = {})
      data, _status_code, _headers = analyze_data_post_with_http_info(inline_object, opts)
      data
    end

    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ViolationSuggestion>, Integer, Hash)>] Array<ViolationSuggestion> data, response status code and response headers
    def analyze_data_post_with_http_info(inline_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.analyze_data_post ...'
      end
      # verify the required parameter 'inline_object' is set
      if @api_client.config.client_side_validation && inline_object.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object' when calling AnalyzeApi.analyze_data_post"
      end
      # resource path
      local_var_path = '/analyze/data'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ViolationSuggestion>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AccessTokenAuth']

      new_options = opts.merge(
        :operation => :"AnalyzeApi.analyze_data_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#analyze_data_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns suggestions of the violating vehicle regarding license plate number, make, model and color based on the provided images ordered by descending confidence.
    # @param image_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [CarSuggestions]
    def analyze_image_image_token_get(image_token, opts = {})
      data, _status_code, _headers = analyze_image_image_token_get_with_http_info(image_token, opts)
      data
    end

    # Returns suggestions of the violating vehicle regarding license plate number, make, model and color based on the provided images ordered by descending confidence.
    # @param image_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarSuggestions, Integer, Hash)>] CarSuggestions data, response status code and response headers
    def analyze_image_image_token_get_with_http_info(image_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.analyze_image_image_token_get ...'
      end
      # verify the required parameter 'image_token' is set
      if @api_client.config.client_side_validation && image_token.nil?
        fail ArgumentError, "Missing the required parameter 'image_token' when calling AnalyzeApi.analyze_image_image_token_get"
      end
      # resource path
      local_var_path = '/analyze/image/{image_token}'.sub('{' + 'image_token' + '}', CGI.escape(image_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CarSuggestions'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyzeApi.analyze_image_image_token_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#analyze_image_image_token_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns expiring cloud storage urls. Upload urls only accept PUT requests and expect files in jpeg format.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity 
    # @return [InlineResponse2001]
    def analyze_image_upload_get(opts = {})
      data, _status_code, _headers = analyze_image_upload_get_with_http_info(opts)
      data
    end

    # Returns expiring cloud storage urls. Upload urls only accept PUT requests and expect files in jpeg format.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity 
    # @return [Array<(InlineResponse2001, Integer, Hash)>] InlineResponse2001 data, response status code and response headers
    def analyze_image_upload_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.analyze_image_upload_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'quantity'].nil? && opts[:'quantity'] > 5
        fail ArgumentError, 'invalid value for "opts[:"quantity"]" when calling AnalyzeApi.analyze_image_upload_get, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'quantity'].nil? && opts[:'quantity'] < 1
        fail ArgumentError, 'invalid value for "opts[:"quantity"]" when calling AnalyzeApi.analyze_image_upload_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/analyze/image/upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse2001'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyzeApi.analyze_image_upload_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#analyze_image_upload_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
