# check via Rufus::Scheduler.parse
materialized_view_updater:
   every: '5m'
   class: 'Scheduled::MaterializedViewUpdaterJob'
analytics:
   cron: '0 6 * * * Europe/Berlin'
   class: 'Scheduled::AnalyticsJob'
activation_reminder:
  cron: '10 8 * * mon Europe/Berlin'
  class: 'Scheduled::ActivationReminderJob'
usage_reminder:
  cron: '20 8 * * mon Europe/Berlin'
  class: 'Scheduled::UsageReminderJob'
expiring_reminder:
  cron: '30 8 * * mon Europe/Berlin'
  class: 'Scheduled::ExpiringReminderJob'
geocoding_cleanup:
  cron: '0 7 * * * Europe/Berlin'
  class: 'Scheduled::GeocodingCleanupJob'
data_dropper:
  cron: '0 6 * * * Europe/Berlin'
  class: 'Sched uled::DataDropperJob'
data_cleanup:
  cron: '0 5 * * * Europe/Berlin'
  class: 'Scheduled::DataCleanupJob'
notice_archiver:
  cron: '0 4 * * * Europe/Berlin'
  class: 'Scheduled::NoticeArchiverJob'
export:
  cron: '0 3 * * mon Europe/Berlin'
  class: 'Scheduled::ExportJob'
