@use "sass:color";
@use "library/variables";

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: variables.$bold-font-weight;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: variables.$bold-font-weight;
  margin: 0;
}

input,
select {
  display: block;
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
}

input,
select,
textarea {
  display: block;
  font-family: variables.$base-font-family;
  font-size: 16px;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: variables.$white;
  border: variables.$base-border;
  border-radius: variables.$base-border-radius;
  padding: 0.5em;
  transition: border-color variables.$base-duration variables.$base-timing;
  width: 100%;

  &:hover {
    border-color: color.mix(variables.$black, variables.$base-border-color, 20%);
  }

  &:focus {
    border-color: variables.$action-color;
    outline: none;
  }

  &:disabled {
    background-color: color.mix(variables.$black, variables.$white, 5%);
    cursor: not-allowed;

    &:hover {
      border: variables.$base-border;
    }
  }

  &::placeholder {
    font-style: italic;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: variables.$small-spacing * 0.5;
}

[type="file"] {
  width: 100%;
}

select {
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: variables.$focus-outline;
    outline-offset: variables.$focus-outline-offset;
  }
}
