@use "library/variables";

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: variables.$small-spacing;

  dt {
    font-weight: variables.$bold-font-weight;
    margin-top: variables.$small-spacing;
  }

  dd {
    margin: 0;
  }
}
