@use "sass:color";
@use "library/variables";

body {
  color: variables.$base-font-color;
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 variables.$small-spacing;
}

a {
  color: variables.$action-color;
  text-decoration-skip-ink: auto;
  transition: color variables.$base-duration variables.$base-timing;

  &:hover {
    color: color.mix(variables.$black, variables.$action-color, 25%);
  }

  &:focus {
    outline: variables.$focus-outline;
    outline-offset: variables.$focus-outline-offset;
  }
}

hr {
  border-bottom: variables.$base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: variables.$base-spacing 0;
}
