.page-header
  h1 👀 ooops, 500

.text-primary
  p Ein Techniker ist informiert!
  p Bei Fragen oder Anregungen schreibe bitte eine #{mail_to 'peter@weg-li.de', 'E-Mail'} oder sende eine Nachricht an #{link_to '@weg_li', 'https://twitter.com/weg_li'} auf Twitter.
  .well
    = image_tag '404.jpg', width: '100%'
