.page-header
  h1 👀 ooops, 404

.text-primary
  p Unter dieser URL konnten wir leider nichts finden!
  p Bei Fragen oder Anregungen schreibe bitte eine #{mail_to 'peter@weg.li', 'E-Mail'} oder sende eine Nachricht an #{link_to '@weg_li', 'https://twitter.com/weg_li'} auf Twitter.
  .well
    = image_tag '404.jpg', width: '100%'
