@use "library/variables";

.cell-label {
  padding-top: 0.15em;

  &:hover {
    a {
      color: variables.$action-color;
    }

    svg {
      fill: variables.$action-color;
      transform: rotate(180deg);
    }
  }

  a {
    color: inherit;
    display: inline-block;
    transition: color variables.$base-duration variables.$base-timing;
    width: 100%;
  }
}

.cell-label--asc,
.cell-label--desc {
  font-weight: variables.$bold-font-weight;
}

.cell-label__sort-indicator {
  float: right;
  margin-left: 5px;

  svg {
    fill: variables.$hint-grey;
    height: 13px;
    transition: transform variables.$base-duration variables.$base-timing;
    width: 13px;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
