@use "library/variables";

.pagination {
  margin-top: variables.$base-spacing;
  padding-left: variables.$base-spacing;
  padding-right: variables.$base-spacing;
  text-align: center;
  display: inline-flex; // FIXME: (PS) This is a hack to center the pagination

  .first,
  .prev,
  .page,
  .next,
  .last {
    margin: variables.$small-spacing;
  }

  .current {
    font-weight: variables.$bold-font-weight;
  }
}
