.leaflet-control-layers-toggle {
  background-image: url("/img/map/layers.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .leaflet-retina .leaflet-control-layers-toggle {
    background-image: url("/img/map/layers-2x.png");
    background-size: 26px 26px;
  }
}
