$default-color: #3a3f44;
$primary-color: #7a8288;
$success-color: #62c462;
$warning-color: #f89406;
$info-color: #5bc0de;
$danger-color: #ee5f5b;

$white: rgb(255, 255, 255);

.panel-nav {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.nav-panel {
  li.active {
    a {
      background-color: #3e444c;
    }
    a:hover {
      background-color: #2e3338;
    }
  }
}

.help-block {
  color: #c8c8c8;
}

.table-responsive {
  min-height: 25vh;
}
@media (max-width: 767px) {
  .table-responsive {
    padding-bottom: 100px;
  }
}

.form-dropdown {
  padding: 3px 20px;
  min-width: 200px;
}

.btn-group-checkbox {
  min-width: 100px;

  label {
    padding: 5px 5px 5px 5px;

    input[type=checkbox] {
      border: none;
      padding: 0px;
      margin: 0 2px;
      width: 12px;
      height: 12px;
      line-height: 11px;
      font-size: 11px;
    }
  }
  button.btn {
    height: 30px;
  }
}

.well-active {
  background-color: $primary-color;
}

.well-chart {
  background-color: white;
}

.input-group {
  width: 100%;
}

.input-group-addon-xs {
  padding: 1px;
}

.progress-sm {
  height: 12px;
}

.turbolinks-progress-bar {
  background-color: $success-color;
  height: 5px !important;
}

.gravatar {
  border-radius: 5px;
}

.photos-add-button {
  position: absolute;
  right: 25px;
  z-index: 10;
}

.map-canvas {
  width: auto;
  margin: 0 5%;
  height: 400px;
  border-radius: 5px;
}

.modal-photo {
  width: 100%;
}

ul.photo-list {
  padding: 0px;

  li.list-item {
    float: left;
    padding: 0px 5px 5px 0px;
    list-style: none;
    img.item-photo {
      border-radius: 5px;
    }
  }
}
ul.droppable-list {
  min-height: 100px;
  li {
    cursor: move;
    img {
      cursor: move;
    }
  }
}

.index-photo {
  height: 3em;
  border-radius: 5px;
}

.scroll-indicator {
  position: absolute;
  right: 20px;
  margin-top: -5px;
}

.glyphicon-status-initial:before {
  content: "\e209";
}
.glyphicon-status-incomplete:before {
  content: "\e209";
}
.glyphicon-status-complete:before {
  content: "\e013";
}
.glyphicon-status-open:before {
  content: "\270f";
}
.glyphicon-status-done:before {
  content: "\e089";
}
.glyphicon-status-analyzing:before {
  content: "\231b";
}
.glyphicon-status-processing:before {
  content: "\231b";
}
.glyphicon-status-disabled:before {
  content: "\e090";
}
.glyphicon-status-shared:before {
  content: "\e089";
}

.label-status-initial {
  background-color: $primary-color;
}
.label-status-incomplete {
  background-color: $warning-color;
}
.label-status-complete {
  background-color: $default-color;
}
.label-status-open {
  background-color: $default-color;
}
.label-status-done {
  background-color: $success-color;
}
.label-status-analyzing {
  background-color: $info-color;
}
.label-status-processing {
  background-color: $info-color;
}
.label-status-disabled {
  background-color: $danger-color;
}
.label-status-shared {
  background-color: $success-color;
}

.glyphicon-access-disabled:before {
  content: "\e090";
}
.glyphicon-access-ghost:before {
  content: "\002a";
}
.glyphicon-access-user:before {
  content: "\e008";
}
.glyphicon-access-community:before {
  content: "\e007";
}
.glyphicon-access-admin:before {
  content: "\e006";
}

.label-access-disabled {
  background-color: $warning-color;
}
.label-access-ghost {
  background-color: $default-color;
}
.label-access-user {
  background-color: $primary-color;
}
.label-access-community {
  background-color: $info-color;
}
.label-access-admin {
  background-color: $success-color;
}

.label-license {
  border: 1px solid $default-color;
  color: $default-color;
  background: #EEE;
  // background: linear-gradient(90deg, rgba(11,0,191,1) 0%, rgba(11,0,191,1) 7%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
}

.control-label-required::after {
  content:"*";
}

.select2-results__option {
  color: $default-color;
}
.select2-container--bootstrap .select2-selection--single {
  margin-top: 1px;
  height: 38px;
  border-color: black;
  line-height: 1.6;
}
.input-group {
  .select2-container--bootstrap .select2-selection--single {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.file-drop-zone.clickable:hover {
  border: 1px dashed;
}

pre.charge {
  overflow-y: scroll;
  height: 25vh;
  min-height: 100px;
}

.me-thumb {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.me-quote {
  height: 80px;
}

.flex-buttons {
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
}

.navbar-logo {
  padding: 6px;
}

.navbar-user {
  a {
    padding: 10px !important;
  }
  img {
    height: 32px;
    width: 32px;
    border: 1px;
    border-radius: 999999px;
  }
  em {
    padding-left: 5px;
  }
}

.references {
  img {
    height: 22px;
    background-color: white;
    padding: 1px;
    border: 1px;
    vertical-align: bottom;
    border-radius: 1px;
  }
  em {
    padding-left: 5px;
  }
}

.blog-user {
  img {
    margin: 0.5em;
    width: 16px;
    height: 16px;
    border: 1px;
    border-radius: 5px;
  }
}

.info {
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.caps {
  font-variant: small-caps;
}

.callout {
  border-left: 5px solid $warning-color;
}
.callout-warning {
  border-left: 5px solid $warning-color;
}
.callout-info {
  border-left: 5px solid $info-color;
}

.margin-left {
  margin-left: 1em;
}
.margin-left-small {
  margin-left: 0.2em;
}
.margin-left-large {
  margin-left: 2em;
}

.spacer {
  padding-bottom: 1em;
}
.spacer-small {
  padding-bottom: 0.2em;
}
.spacer-large {
  padding-bottom: 2em;
}

.smaller {
  font-size: smaller;
}

.gray-ish {
  background-color: #32383e;
}

.success-step {
  background-color: #32383e;
  border: 2px solid $success-color;
}
.success-step1 {
  background-color: $success-color;
}
.success-step2 {
  background-color: darken($success-color, 15%);
}
.success-step3 {
  background-color: darken($success-color, 30%);
}
.success-step-muted {
  background-color: #32383e;
}
.success-step-button {
  background-color: white;
  color: darken($success-color, 15%);
  border: 2px solid darken($success-color, 15%);
}

.step {
  border-radius: 999999%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 4px;
  padding-top: 3px;
  text-shadow: none;
}

.step-top {
  // border: 2px solid rgb(200, 200, 200);
  color: white;
}

.mega {
  font-weight: bold;
  font-size: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-rop: 100px;
}

.navbar, .page-header, .lead, .panel, footer, .dropdown {
  a {
    text-decoration: none;
  }
}
a.btn {
  text-decoration: none;
}
a {
  text-decoration: underline;
}
