- set_title "#{@brand.name} Änderung vorschlagen"
- set_canonical edit_brand_url(@brand)

.well.well-sm.callout-primary Die Änderungen für die Marke werden vom Support geprüft und dann aktiviert.

= render('form', brand: @brand, button_title: 'Änderung vorschlagen')
