= link_to "javascript:void(0);", class: "hidden-xs navbar-brand", 'data-html' => 'true', 'data-container' => "body", 'data-toggle' => "popover", 'data-placement' => "auto", 'data-content' => "In der &beta;eta-Phase versuchen wir <em>Probleme bei der Benutzung</em> zu beheben und die <em>allgemeine Qualität</em> des Dienstes zu verbessern, indem wir auf <strong><a href='mailto:peter@weg-li.de?subject=Feedback'>dein Feedback</a></strong> eingehen!", title: "Wofür &beta;eta?" do
  .label.label-primary &beta;eta
