javascript:
  I18n = {};
  I18n.passwordStrength = {};
  I18n.passwordStrength.unknown = '#{t("notices.password-strength.unknown")}';
  I18n.passwordStrength.tooGuessable = '#{t("notices.password-strength.too-guessable")}';
  I18n.passwordStrength.veryGuessable = '#{t("notices.password-strength.very-guessable")}';
  I18n.passwordStrength.somewhatGuessable = '#{t("notices.password-strength.somewhat-guessable")}';
  I18n.passwordStrength.safelyUnguessable = '#{t("notices.password-strength.safely-unguessable")}';
  I18n.passwordStrength.veryUnguessable = '#{t("notices.password-strength.very-unguessable")}';
