meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no' name='viewport'
meta name="description" content=t('slogan')
