.navbar.navbar-default.navbar-fixed-top.data-turbolinks-permanent
  .container
    .navbar-header.navbar-logo
      = link_to root_path, class: "navbar-brand", title: t('slogan')
        = image_tag asset_url('logo-blink.png'), alt: 'weg-li logo', title: 'www.weg-li.de 📸 📝 ✊', class: 'blink'
        = image_tag asset_url('logo.png'), alt: 'weg-li logo', title: 'www.weg-li.de 📸 📝 ✊', class: 'gravatar'
      button.navbar-toggle  type="button" data-toggle="collapse" data-target="#navbar-main"
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        - if signed_in?
          li.dropdown
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Meldungen <span class="caret"></span></a>
            ul.dropdown-menu
              li
                = link_to new_notice_path do
                  span.glyphicon.glyphicon-plus>
                  span.margin-left-small Erfassen
              li
                = link_to notices_path do
                  span.glyphicon.glyphicon-th-list>
                  span.margin-left-small Übersicht
              li
                = link_to replies_path do
                  span.glyphicon.glyphicon-inbox>
                  span.margin-left-small Antworten
              li
                = link_to map_notices_path do
                  span.glyphicon.glyphicon-map-marker>
                  span.margin-left-small Kartenansicht
              li
                = link_to stats_notices_path do
                  span.glyphicon.glyphicon-stats>
                  span.margin-left-small Statistik

          li.dropdown
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Massen-Uploads <span class="caret"></span></a>
            ul.dropdown-menu
              li
                = link_to new_bulk_upload_path do
                  span.glyphicon.glyphicon-cloud-upload>
                  span.margin-left-small Hochladen
              li
                = link_to bulk_uploads_path do
                  span.glyphicon.glyphicon-th-list>
                  span.margin-left-small Übersicht

        - if signed_in? && admin?
          li.dropdown
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
            ul.dropdown-menu
              li= link_to 'Backoffice', '/admin', target: '_blank'
              li= link_to 'Styleguide', styleguide_path, target: '_blank'
              li= link_to 'Jobs', '/sidekiq', target: '_blank'
              li= link_to 'Docs', '/api-docs', target: '_blank'

        - if signed_in? && access?(:studi)
          li
            = link_to studi_user_path do
              span.margin-left-small Studi

      ul.nav.navbar-nav.navbar-right
        - if signed_in?
          li.dropdown.navbar-user
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">#{gravatar(current_user)} <span class="caret"></span></a>
            ul.dropdown-menu
              li
                = link_to snippets_path do
                  span.glyphicon.glyphicon-pencil>
                  span.margin-left-small Vorlagen verwalten
              li
                = link_to edit_user_path do
                  span.glyphicon.glyphicon-edit>
                  span.margin-left-small= t('navigation.edit_profile')
              li
                = link_to user_path do
                  span.glyphicon.glyphicon-user>
                  span.margin-left-small= t('navigation.view_profile')
              - unless current_user.hide_public_profile?
                li
                  = link_to public_profile_path(current_user), target: '_blank' do
                    span.glyphicon.glyphicon-globe>
                    span.margin-left-small= t('navigation.view_public_profile')
          li(data-no-turbolink)
            = link_to logout_path, title: t('navigation.logout') do
              span.glyphicon.glyphicon-log-out.small>
              = t('navigation.logout')
          - if signed_in_alias?
            li(data-no-turbolink)
              = link_to logout_alias_path, title: t('navigation.logout') do
                span.glyphicon.glyphicon-log-out.small>
                | Logout Alias
        - else
          li.dropdown(data-turbolinks="false")
            a class="dropdown-toggle" data-toggle="dropdown" href="#" id="login" title="Login"
              span.glyphicon.glyphicon-log-out.small>
              | Login
              span.caret
            ul.dropdown-menu aria-labelledby="login"
              - login_links do |name, path, key|
                li= link_to("via #{name}", path, method: :post, data: { turbolinks: false })
