.navbar.navbar-default.navbar-fixed-top.data-turbolinks-permanent
  .container
    .navbar-header
      = link_to '📸 📝 ✊ weg-li', root_path, class: "navbar-brand", title: t('slogan')
      = render 'beta_label'
      button.navbar-toggle  type="button" data-toggle="collapse" data-target="#navbar-main"
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.dropdown
          - if signed_in?
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">#{t('navigation.notices')} <span class="caret"></span></a>
            ul.dropdown-menu aria-labelledby="login"
              li
                = link_to notices_path do
                  span.glyphicon.glyphicon-th-list.smaller>
                  span.margin-left-small Meldungen
              li
                = link_to map_notices_path do
                  span.glyphicon.glyphicon-map-marker.smaller>
                  span.margin-left-small Kartenansicht
              li
                = link_to new_notice_path do
                  span.glyphicon.glyphicon-plus.smaller>
                  span.margin-left-small Meldung erfassen
              - if access?(:community)
                li
                  = link_to bulk_uploads_path do
                    span.glyphicon.glyphicon-th-list.smaller>
                    span.margin-left-small Massen-Uploads
                li
                  = link_to new_bulk_upload_path do
                    span.glyphicon.glyphicon-cloud-upload.smaller>
                    span.margin-left-small Massen-Upload starten

        - if signed_in? && admin?
          li
            = link_to 'Styleguide', styleguide_path

      ul.nav.navbar-nav.navbar-right
        - if signed_in?
          li.dropdown.navbar-user
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">#{gravatar(current_user)} <span class="caret"></span></a>
            ul.dropdown-menu aria-labelledby="login"
              li
                = link_to [:edit, current_user] do
                  span.glyphicon.glyphicon-edit.smaller>
                  span.margin-left-small= t('navigation.edit_profile')
              li
                = link_to public_profile_path(current_user.token) do
                  span.glyphicon.glyphicon-user.smaller>
                  span.margin-left-small= t('navigation.view_profile')
          li(data-no-turbolink)
            = link_to logout_path, title: t('navigation.logout') do
              span.glyphicon.glyphicon-log-out.small>
              = t('navigation.logout')
          - if signed_in_alias?
            li(data-no-turbolink)
              = link_to logout_alias_path, title: t('navigation.logout') do
                span.glyphicon.glyphicon-log-out.small>
                | Logout Alias
        - else
          li.dropdown(data-turbolinks="false")
            a class="dropdown-toggle" data-toggle="dropdown" href="#" id="login" title="Login"
              span.glyphicon.glyphicon-log-out.small>
              | Login
              span.caret
            ul.dropdown-menu aria-labelledby="login"
              - login_links do |name, path, key|
                li= link_to("via #{name}", path, method: :post, data: { turbolinks: false })
