meta name="twitter:card" content="product"
meta name="twitter:site" content="@weg-li"
meta name="twitter:creator" content="@weg-li"
meta name="twitter:title" content=t('slogan')
/ meta name="twitter:image" content=image_url('logo.png')
