name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgis/postgis:11-2.5
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: weg-li_test
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:

      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install PostgreSQL 11 client
        run: sudo apt-get update && sudo apt-get install postgresql postgresql-contrib libpq-dev --fix-missing
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install yarn && dependencies
        run:  yarn install --ignore-engines

      - name: Prepare database
        env:
          PGHOST: localhost
          PGPASSWORD: password
          RAILS_ENV: test
        run: |
          bundle exec rake db:test:prepare

      - name: Run Tests
        env:
          PGHOST: localhost
          PGPASSWORD: password
          PGUSER: postgres
          RAILS_ENV: test
          RSPEC_RETRY_RETRY_COUNT: 3
        run: bundle exec rake
